* {
  margin: 0%;
  padding: 0%;
}

.password-main-container {
  background-color: #69bfb4;
  justify-content: center;
  align-items: center;
  height: 89vh;
  background-image: url("./image/header-forgot\ password.png");
  background-size: cover;
  background-position: center;
  /* padding-left: 0px; */
  padding-top: 88px;
  overflow-x: hidden;
}

.password-recovery-container {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 210px;
  text-align: center;
}

.password-recovery-title {
  font-family: Serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.password-recovery-description {
  font-family: Serif;
  margin-bottom: 10px;
}

.password-recovery-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.password-recovery-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: Serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-recovery-button:hover {
  background-color: #0056b3;
}

.back-to-login-link {
  color: #29e810;
  font-weight: bold;
  text-decoration: none;
  font-family: Serif;
  transition: color 0.3s ease;
}

.back-to-login-link:hover {
  color: #d3d3e1;
}
