.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  padding-bottom: 40px;
  height: 100vh;
  background-image: url("./image/header-set\ new\ password.png");
  overflow-x: hidden;
}
.main-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 70px;
  padding-bottom: 40px;
}

.main-container input[type="email"],
.main-container input[type="password"],
.main-container input[type="text"] {
  margin: 5px;
  padding: 10px;
  width: 350px;
  border: 1px solid #2d2626;
  border-radius: 7px;
  box-sizing: border-box;
  font-family: Serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-button {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-button button {
  margin: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Serif;
  box-shadow: 0 2px 5px rgba(28, 27, 27, 0.5);
}

.container-button button b {
  font-weight: bold;
  box-shadow: 0 0 40px rgba(12, 244, 8, 0.789);
}

.container-button button:hover {
  background-color: #151c66;
}
